#qua mettici tutti i path delle cose che non devono finire caricate
#possono essere cartelle (<folder>)
#cose dentro alle cartelle (<folder/*>)
#nomi di file specifici con il path relativo a dove hai fatto il git init 
#basta che aggiungi righe qua sotto

infernal_cfr/split_train/*
blocchi/All_fam
blocchi/bear
blocchi/bear_alignment
blocchi/bear_filtered
blocchi/bear_new_alignment
blocchi/constraints
blocchi/fastq
blocchi/filtro_n_seq
blocchi/folded
blocchi/folded_clean
blocchi/not_similar
blocchi/not_similar_filtered
blocchi/seq
blocchi/Rfam_no_double.seed
matrici/bear
matrici/seq
PSSM_distance/rfam_PFM_dic_qbear_50.pickle
PSSM_distance/rfam_PPM_dic_qbear_50.pickle
PSSM_distance/rfam_PSSM_dic_qbear_50.pickle
PSSM_distance/rfam_PSSM_qbear_50.pickle
PSSM_distance/coppie.txt
beagleUser/out
beagleUser/bear_orig_out
beagleUser/results_DF_last.pkl*
beagleUser/results_DF_bralibase.pkl
beagleUser/results_DF_RRS.pkl
beagleUser/results_DF_rnaspa.pkl
beagleUser/results_DF_rnastrand.pkl
